.dontshowinmobile {
  display: none;
}

.navigationmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logopreview {
  width: 70%;
  height: 100%;
}

header {
  height: 13vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-button {
  position: absolute;
  left: 85%;
  z-index: 1111;
  /* border:solid 1px #f8f8f8; */
  height: 42px;
  display: block;
  width: 50px;
  padding: 6px;
}

.dropdown-menu {
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: background-color 6s ease-out 500ms;
  transition: background-color 6s ease-out 500ms;
}

.dropdown-item:hover {
  background-color: #e59a04;
  -webkit-transition: background-color 6s ease-out 500ms;
  transition: background-color 6s ease-out 500ms;
  -webkit-text-decoration-color: #e59a04;
          text-decoration-color: #e59a04;
}

.dropdown-item:active {
  background-color: #e59a04;
}

.nav-link {
  font-size: 2vh;
  -webkit-text-decoration-color: #e59a04;
          text-decoration-color: #e59a04;
}

.nav-item {
  -webkit-text-decoration-color: #e59a04;
          text-decoration-color: #e59a04;
}

.menu-item:hover {
  -webkit-transition: background-color 5s ease-out 500ms;
  transition: background-color 5s ease-out 500ms;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-style: wavy;
          text-decoration-style: wavy;
}

@media (min-width: 769px) {
  .logopreview {
    width: 100%;
    height: 100%;
  }
  .dontshowinmobile {
    display: block;
  }
  header {
    height: 8vh;
    border-bottom: solid 6px #707070;
  }
  .nav-button {
    position: absolute;
    left: 95%;
    z-index: 1111;
    /* border:solid 1px #f8f8f8; */
    height: 42px;
    display: block;
    width: 50px;
    padding: 12px;
  }
}

.main-menu {
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
}

.nav-open .main-menu {
  opacity: 1;
  visibility: visible;
  background: rgba(0, 0, 0, 0.92);
}

.main-menu .nav li a {
  color: #FFF;
  font-size: 4vh;
  font-weight: 600;
}

.main-menu .nav li {
  opacity: 0;
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px);
  -webkit-animation-timing-function: cubic-bezier(0.45, 0.005, 0, 1);
  animation-timing-function: cubic-bezier(0.45, 0.005, 0, 1);
}

.nav-open .main-menu .nav li {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform .2s,opacity .2s;
  -webkit-transition: opacity .2s,-webkit-transform .2s;
  transition: opacity .2s,-webkit-transform .2s;
  transition: transform .2s,opacity .2s;
  transition: transform .2s,opacity .2s,-webkit-transform .2s;
}

.main-menu .nav li.delay-1 {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.main-menu .nav li.delay-2 {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.main-menu .nav li.delay-3 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.main-menu .nav li.delay-4 {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.main-menu .nav li.delay-5 {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.main-menu .nav li.delay-6 {
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.main-menu .nav li.delay-7 {
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}

.main-menu .nav li.delay-8 {
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

.main-menu .nav li.delay-9 {
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
}

.nav-button #nav-icon3 {
  width: 24px;
  height: 22px;
  display: inline-block;
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.nav-button #nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #707070;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.nav-button #nav-icon3 span:nth-child(1) {
  top: 0;
}

.nav-button #nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 7px;
}

.nav-button #nav-icon3 span:nth-child(4) {
  top: 14px;
}

.nav-open #nav-icon3 span:nth-child(1) {
  top: 9px;
  width: 0;
  left: 50%;
}

.nav-open #nav-icon3 span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-open #nav-icon3 span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-open #nav-icon3 span:nth-child(4) {
  top: 9px;
  width: 0;
  left: 50%;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}
/*# sourceMappingURL=header.css.map */