.dontshowinmobile {
  display: none;
}

.desktop-nav {
  display: none;
}

.navigationmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logopreview {
  width: 70%;
  height: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-button {
  position: absolute;
  left: 85%;
  z-index: 1111;
  /* border:solid 1px #f8f8f8; */
  height: 42px;
  display: block;
  width: 50px;
  padding: 6px;
}

.nav-link {
  font-size: 2vh;
}

.head-main {
  /* border-radius: 10% 30% 50% 70%; */
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(39%, #daaa94), color-stop(76%, #ece0d1));
  background: linear-gradient(90deg, #020024 0%, #daaa94 39%, #ece0d1 76%);
  border-radius: 0% 0% 70% 70%;
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: 0;
  height: 12vh;
  z-index: 1;
}

.sitename {
  margin: 0;
  font-size: calc(16px + 5vw);
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #fff;
}

@media (min-width: 769px) {
  .head-main {
    display: none;
  }
  .desktop-nav {
    display: block;
    background: #020024;
    background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(39%, #daaa94), color-stop(76%, #ece0d1));
    background: linear-gradient(90deg, #020024 0%, #daaa94 39%, #ece0d1 76%);
    position: fixed;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    border-radius: 0% 0% 50% 50%;
  }
  .sitename {
    margin: 0;
    font-size: 4rem;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #fff;
  }
  #bs-example-navbar-collapse-1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .desk-menu-hover {
    background: #020024;
    background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(39%, #daaa94), color-stop(76%, #ece0d1));
    background: linear-gradient(90deg, #020024 0%, #daaa94 39%, #ece0d1 76%);
    -webkit-transition: 1.4s;
    transition: 1.4s;
    font-size: 20px;
    text-decoration: none;
    padding: 0 5px;
  }
  .desk-menu-hover:hover {
    padding: 24px 10px;
    color: aqua;
  }
}

span {
  font-size: 1.7rem;
}

.main-menu {
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
}

.nav-open .main-menu {
  opacity: 1;
  visibility: visible;
  background: rgba(0, 0, 0, 0.92);
}

.main-menu .nav li a {
  color: #FFF;
  font-size: 4vh;
  font-weight: 600;
}

.main-menu .nav li {
  opacity: 0;
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px);
  -webkit-animation-timing-function: cubic-bezier(0.45, 0.005, 0, 1);
  animation-timing-function: cubic-bezier(0.45, 0.005, 0, 1);
}

.nav-open .main-menu .nav li {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform .2s,opacity .2s;
  -webkit-transition: opacity .2s,-webkit-transform .2s;
  transition: opacity .2s,-webkit-transform .2s;
  transition: transform .2s,opacity .2s;
  transition: transform .2s,opacity .2s,-webkit-transform .2s;
}

.main-menu .nav li.delay-1 {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.main-menu .nav li.delay-2 {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.main-menu .nav li.delay-3 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.main-menu .nav li.delay-4 {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.main-menu .nav li.delay-5 {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.main-menu .nav li.delay-6 {
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.main-menu .nav li.delay-7 {
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}

.main-menu .nav li.delay-8 {
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

.main-menu .nav li.delay-9 {
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
}

.nav-button #nav-icon3 {
  width: 24px;
  height: 22px;
  display: inline-block;
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.nav-button #nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #ffffff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.nav-button #nav-icon3 span:nth-child(1) {
  top: 0;
}

.nav-button #nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 7px;
}

.nav-button #nav-icon3 span:nth-child(4) {
  top: 14px;
}

.nav-open #nav-icon3 span:nth-child(1) {
  top: 9px;
  width: 0;
  left: 50%;
}

.nav-open #nav-icon3 span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-open #nav-icon3 span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-open #nav-icon3 span:nth-child(4) {
  top: 9px;
  width: 0;
  left: 50%;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}
/*# sourceMappingURL=header.css.map */