





.single-hero-title {
    margin: 0;
    font-size: 4rem;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: white;
    padding-top: 5vh;
    
  }


.single-text-section{
 //   background-color:#F2F1EE;
    padding-top: 5vh;
}



.thelist{
    
    list-style-type: none;
    padding-right: 0vh;
}


.single-gallery-section{
    margin-top: 8vh;
    margin-bottom: 15vh;
}

.galerydivimg1{
    margin-bottom: 7vh;
}


.galeryimg1{
    height: 70vh;
}

.galeryimg2{
    height: 40vh;
}


  
  @media (min-width: 769px) {

    .single-hero-title {
       
        font-size: calc(12px + 4vw);
      
      }

    .thelist{
        
        list-style-type: none;
        
    }

    .galerydivimg1{
        margin-bottom: 0vh;
    }
  
  

    .galeryimg1{
        height: 35vh;
    }
    
    .galeryimg2{
        height: 45vh;
    }
    

    .layoutproductdesktop{
        display: flex;
        flex-direction: column;
        align-self: center;
    }




  }
  